<header>
    <h1>Александр Лавров - фрилансер, веб-разработчик</h1>
    <p>Всем привет я профессиональный фрилансер верстальщик. Люблю создание сайтов и веб-разработку.</p>
</header>
<nav>
    <a href="index.html">Главная</a>
    <a href="service.html">Услуги</a>
    <a href="portfolio.html">Портфолио</a>
    <a href="contacts.html">Контакты</a>
</nav>

    <main>
        <h2>Контакты</h2>
        <p>Напишите мне на почту <a href="mailto:lavrovFP1995@gmail.com">lavrovFP1995@gmail.com</a> и мы оперативно обсудим ваш проект.</p>

        <h3>Мои профили в социальных сетях:</h3>
        <ul>
            <li><a href="#">Вконтакте</a></li>
            <li><a href="#">Instagram</a></li>
            <li><a href="#">Facebook</a></li>
            <li><a href="#">LinkedIn</a></li>
            <li><a href="#">GitHub</a></li>
        </ul>
    </main>

<footer>
    <p>&copy; 2021 Александр Лавров</p>
</footer>